/* 
==============================================
CONTENT:	Sass Practice
AUTHOR:		silent but Dreadly
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. Main Layout ================================= */


body {
	background: rgb(46, 48, 50);
}

.wrap{
	background-color: #fff;
	margin: 0% 15%;
}

/* 2. Content ================================= */

$primary-color: #660099;
$secondary-color: #666 ;
$auxilary-color: #fff;

$primary-text: #000;
$secondary-text: #666;

$hFont: 'Titillium Web', sans-serif;
$pFont: 'Lato', sans-serif;

.headbar{
	background-color: $auxilary-color;
	height: fit-content;
	display: flex;
	margin: -4.2px -5px;
	display: flex;
	flex-direction: column;

	.headContent{
		display: flex;
		justify-content: space-between;
		flex: 3;


		.headLogo{
			display: flex;
			padding: 0px 1.3em;
			width: 33.3%;
			justify-content: space-between;

			.logoLink{
				padding-top: .42em;
	
				.dreadlogo{
					margin-left: 1.3em;
					width: 4.2em;
					height: 4.2em;
				}
			}
		}
		.cartDiv{
			width: 33.3%;
			display: flex;
			margin-left: auto;
			justify-items: right;
			align-items: center;
			padding-top: 1.3em;
			
			img{
				width: 3em;
				height: 3em;
			}
			.headButt{
				display: flex;
				margin-left: auto;

				.cartButt{
					display: flex;
					.cartCount{
						margin-left: -42%;
						margin-top: -18%;
						font-weight: 600;
						font-size: 1.3em;
						color: $primary-color;
					}
				}
			}
		}
		.nav{
			width: 15%;
			display: flex;
			justify-content: right;
			.hide-small{
				display: none;
			}
			.daburger{
				width: 7em;
				align-items: center;
				height: 5em;
				background-color: $auxilary-color;
				border: .13em $primary-color solid;
				border-top: none;
				border-bottom: none;
				display: flex;
				flex-direction: column;
				margin-left: auto;
				

				div{
					padding: 4.2% 0%;
					margin: 4.2% 0%;
					background: linear-gradient(-45deg, #666, #444, #660099, #990066);
					background-size: 400% 400%;
					animation: gradient 4.2s ease infinite;
					border: .013em #660099 solid;
					width: 75%;
					position: relative;
					animation: normal 13s ease;
				}
				.topbun{
					margin-top: 13%;
				}
			}
		}
	}

	.colorbar{
		height: .42em;
		width: 100%;
		background: linear-gradient(-45deg,  #666, #660099, #990066, #CC00FF);
		background-size: 400% 400%;
		animation: gradient 13s ease infinite;
		display: inline-block;
		margin-top: auto;
	}
}

.description{

	.hero{
		background: linear-gradient(-45deg,  #666, #660099, #990066, #CC00FF);
		background-size: 400% 400%;
		animation: gradient 13s ease infinite;
		border: 1.3em $auxilary-color solid;
		border-radius: 13px;
		padding: 7em 0em;
		margin: 4.2% 0% 0% 0%;
		overflow: hidden;

		.heroImgs{
			display: flex;
			padding: -1.3em 0em;
			height: 50%;
			justify-content: space-evenly;
			background-color: $primary-text;


			img{
				width: 13em;
				height: 13em;
				margin: -5% 0%;
			}
			.skull1{
				transform: rotateY(180deg);
			}
			.skull3{
				transform: rotateY(180deg);
			}
		}

	}
}

.options{

	.choosen{

	}
	.choices{
		display: flex;
		flex-direction: column;

		.option{
			background-color: $auxilary-color;
			border: .13em $primary-color solid;
			display: flex;
			flex-direction: column;
			padding: 1.3em;
			margin: 7% 0%;

			button{
				margin-top: auto;

			}
		}
	}
}


// gradient
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

